body{
    
}

#banner{

    width: 100%
}

.principal{
    background: #CCCCCCCC
}

.titulo-principal{
  padding-left: 20px  
}
.titulo-centralizado{
    text-align: center
}

p{
    text-align:center;
}

#missão{
    font-size: 20px
}

em strong{
    color:red
}

.itens{
    font-style: italic
}
.benefícios{
    background: #FFFFFF
    
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%
}